body{
  background-color: #161516;

}

.parent{
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}


.child{
  margin: 10px;
  width: 250px;
  border: 1px solid black;
  text-align: center;
  border-radius: 15px;
  background-color:white;
  color: #161516;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}

.child img{
  width: 100px;
  height: 100px;
  margin-top : 10px;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 50%; 
}

.child button{
  width: 100px;
  height: 35px;
  border:1px solid beige;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 80px;
  color: #000;

}
.profile-text{
  margin: 0;
}
.child-inner{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  color: #000;
}

.child-inner button{
  margin: 0;
}